<head>
    <link rel="stylesheet" href="/stylesheets/driver-css/driverDeliveryMap.css">
</head>
<div id="map">
    Map of delivery
</div>
<div id="delivery-buttons-wrapper">
    <button class="delivery-button">Cancel Delivery</button>
    <button class="delivery-button">Delivery Complete</button>
</div>