<head>
    <link rel="stylesheet" href="/stylesheets/driver-pages-css/driverDeliveryMap.css">
</head>
<div id="map">
    Map of delivery
</div>
<div id="delivery-buttons-wrapper">
    <a id="cancel-delivery-button" class="delivery-button" href="/driverOrderList">Cancel Delivery</a>
    <a id="completed-delivery-button" class="delivery-button">Delivery Complete</a>
</div>