<head>
    <link rel="stylesheet" href="/stylesheets/driver-css/driverOrderDetails.css">
</head>

<div id="order-detail-wrapper">
    <h1>Order Details</h1>
    <div id="map">
        Map to Restaurant
       
    </div>
    <hr style="width: 800px;">
    <div id="order-restaurant-details">
         
        Restaurant: <br>
        Delivery Location:<br>
        Delivery Time:<br>
        Total Earned:<br>
    </div>
    <div id="order-items-list">
        <h3>Order Items</h3>
        <hr style="width: 400px;">
        <div class="order">
            <image class="order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Name:  <br>
                Quantity: <br>
            </div>
        </div>
        <div class="order">
            <image class="order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Name:  <br>
                Quantity: <br>
            </div>
        </div>
        <div class="order">
            <image class="order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Name:  <br>
                Quantity: <br>
            </div>
        </div>
        <div class="order">
            <image class="order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Name:  <br>
                Quantity: <br>
            </div>
        </div>
        <div class="order">
            <image class="order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Name:  <br>
                Quantity: <br>
            </div>
        </div>

    </div>


</div>