{{!-- HTML for the list of order that a driver can choose and take --}}
{{!-- Author(s): Emily --}}
<head>
    <link rel="stylesheet" href="/stylesheets/driver-pages-css/driverOrderList.css">
</head>


<div id="order-wrapper">
    <h1>Orders</h1>
    <div id="driver-order-wrapper">
        <div id="scrollbar-wrapper">
            {{!-- Partial cards holding an individual order a driver can choose from --}}
            {{#each orderList}}
                {{> driverordercard this id='{{@index}}'}}
            {{/each}}
        </div>
      
        
    </div>
    
    
</div>