<head>
    <link rel="stylesheet" href="/stylesheets/driver-css/driverOrderList.css">
</head>


<div id="order-wrapper">
    <h1>Orders</h1>
    <div id="driver-order-wrapper">
        {{!-- Replace these with cards later on --}}
        <div class="order">
            <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Order #:  <br>
                Delivery Time: <br>
                Money Earned: <br>
            </div>
            <button class="take-order-button">Take</button>
        </div>

        <div class="order">
            <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Order #: <br>
                Delivery Time: <br>
                Money Earned:<br>
            </div>
            <button class="take-order-button">Take</button>
        </div>

        <div class="order">
            <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Order #: <br>
                Delivery Time: <br>
                Money Earned:<br>
            </div>
            <button class="take-order-button">Take</button>
        </div>

        <div class="order">
            <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Order #: <br>
                Delivery Time: <br>
                Money Earned:<br>
            </div>
            <button class="take-order-button">Take</button>
        </div>
        <div class="order">
            <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
            <div class="order-details">
                Order #: <br>
                Delivery Time: <br>
                Money Earned:<br>
            </div>
            <button class="take-order-button">Take</button>
        </div>

    </div>
    
</div>