<div id = "restaurant-card">
{{!-- <image style="height: 200px; width: 200px" src="/images/uploads/olivegarden.jpg"></image> --}}
<image style="height: 200px; width: 200px;" src={{images}}></image>
<h4>{{name}}</h4>
<h5>{{category}}</h5>
<h6>{{description}}</h6>
</div>