{{!-- Partial that shows the driver an user's order ticket when viewing order details--}}
{{!-- Author(s): Emily --}}
<div class="ticket">
    <image class="ticket-image" src="/images/uploads/{{images}}"></image>
    <div class="ticket-details">
        Name:  {{name}}<br>
        Quantity: {{quantity}}<br>
    </div>
</div>