{{!-- Partial that holds the order a driver can choose to take --}}
{{!-- Author(s): Emily --}}
<div class="order">
    <h3>Order # </h3>
    <hr>
    <div class="order-details">
        <image class="driver-order-image" src="/images/uploads/dominos.jpg"></image>
        <div>
            Delivery Time: <br>
            Delivery Type: <br>
            Delivery Location:<br>
            {{!-- Total Money Earned: <br> --}}
        </div>
        
    </div>
    <div class="price-take-wrapper">
        <label class="price-label"> Total: $$$</label>
        <a class="take-order-button" href="/driverOrderDetails">Take</a>
        {{!-- <button class="take-order-button" onclick="/about">Take</button> --}}
    </div>
            
</div>