{{!-- Partial that shows the driver an user's order ticket when viewing order details--}}
{{!-- Author(s): Emily --}}
<div class="ticket">
    <image class="ticket-image" src="/images/uploads/dominos.jpg"></image>
    <div class="ticket-details">
        Name:  <br>
        Quantity: <br>
    </div>
</div>