<footer id="footer">
    <div id="section-container">
      <div class="section-container-item" id="get-to-know-us-section">
        <h6>Get to Know Us</h6>
        <ul>
          <li><a class="footer-links" href="/about">About us</a></li>
          <li><a class="footer-links" href="/about">Careers</a></li>
          <li><a class="footer-links" href="/about">Impact</a></li>
          <li><a class="footer-links" href="/about">Accessibility</a></li>
          <li><a class="footer-links" href="/about">SFSU</a></li>
        </ul>
      </div>
      <div class="section-container-item" id="let-us-help-you-section">
        <h6>Let Us Help You</h6>
        <ul>
          <li><a class="footer-links" href="/about">Account Details</a></li>
          <li><a class="footer-links" href="/about">Order History</a></li>
          <li><a class="footer-links" href="/about">Help</a></li>
        </ul>
      </div>
      <div class="section-container-item" id="doing-business-section">
        <h6>Doing Business</h6>
        <ul>
          <li><a class="footer-links" href="/about">Become a Driver</a></li>
          <li><a class="footer-links" href="/about">Register your Business</a></li>
          <li><a class="footer-links" href="/about">Catering</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div id="copyright-icons-container">
      <p id="copyright">©2023 AJEEM, inc. All rights reserved.</p>
      <ul id="footer-icons">
        <li class="icon"><i class="bi bi-twitter"></i></li>
        <li class="icon"><i class="bi bi-instagram"></i></li>
        <li class="icon"><i class="bi bi-facebook"></i></li>
      </ul>
    </div>
</footer>