{{!-- Partial for all user logins --}}
{{!-- Author(s): David and Emily --}}
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
   
</head>

<div class="wrapper">
    {{#if error}}
        <div class="error-message">
            <h5 class="message">
                {{message}}
            </h5>
        </div>
    {{/if}}
    <form class="form-signin" method="POST" action={{action}}
    enctype="application/x-www-form-urlencoded">
        <h2 class="form-title">{{title}}</h2>
        <h6>Email</h3>
        <input type="text" class="form-control" name="email"  required="" autofocus="" />
        <h6>Password</h3>
        <input type="password" class="form-control" name="password" required=""/>      

        <button class="submit-button" type="submit">Submit</button>   
    </form>
    <a href ={{registrationLink}} class="relocation-link">Dont have an account? Register here &rarr;</a>
</div>
