  {{!-- Partial for the navbar --}}
  {{!-- Author(s): Emily and Eunice --}}
  
  <nav class="navbar">
  <a id="logo" href="/"><i class="bi bi-symmetry-horizontal"></i>GATOREATS</a>
  <div class="navbar-left">
    
    <a class="navbar-links" href="/">Home</a>
    {{!-- driver dropdown --}}
    <div class="dropdown navbar-dropdown">
      <a class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
      Drivers
      </a>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        <li><a class="dropdown-item" href="/driverLogin">Driver Login</a></li>
        <li><a class="dropdown-item" href="/driverRegistration">Driver Registration</a></li>
      </ul>
    </div>
    {{!-- driver dropdown end --}}

    {{!-- restaurants dropdown --}}
    <div class="dropdown navbar-dropdown">
        <a class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
        Restaurants
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li><a class="dropdown-item" href="/restaurantLogin">Restaurant Owner Login</a></li>
          <li><a class="dropdown-item" href="/restaurantOwnerRegistration">Restaurant Owner Registration</a></li>
          <li><a class="dropdown-item" href="/restaurantApplication">Restaurant Application</a></li>
        </ul>
      </div>
    {{!-- restaurants dropdown end --}}

    <a class="navbar-links" href="/about">About Us</a>
  </div>

  <form id="search-form" class="navbar-center" action="/searchResult">
    <select id="category-select" name="category">
      <option value="all" {{#if (categoryFunction category "all")}} selected {{/if }}>All</option>
      <option value="italian" {{#if (categoryFunction category "italian")}} selected {{/if }}>Italian</option>
      <option value="taiwanese" {{#if (categoryFunction category "taiwanese")}} selected {{/if }}>Taiwanese</option>
      <option value="pizza" {{#if (categoryFunction category "pizza")}} selected {{/if }}>Pizza</option>
      <option value="japanese" {{#if (categoryFunction category "japanese")}} selected {{/if }}>Japanese</option>
      <option value="fast food" {{#if (categoryFunction category "fast food")}} selected {{/if }}>Fast Food</option>
    </select><input id="search-bar" name="search" type="text" placeholder="Search" value="{{ searchTerm }}"><a id ='search-button'><i class="bi bi-search"></i></a>
    
  </form>
  {{#if logged}}
  <div  class="navbar-right" styles="display:flex">
      <p class="dropdown-item"style="color:White; margin: 0 10px 0 0;">Welcome</p>
      <form method="post" action="/sfsuLogin/logout" id="logout-form">
        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
        <button type="submit" name="submit_param" value="submit_value" class="nav-link navbar-links" href="#" role="button" aria-expanded="false">
            Logout
        </button>
      </form>
  </div>
  {{else}}
    <div class="navbar-right">
      <a class="nav-link navbar-links" href="/sfsuRegistration">Register</a>
      <a class="nav-link navbar-links" href="/sfsuLogin">Login</a>
      
    {{/if}}

    {{!-- login dropdown end --}}
    
    {{!-- shopping cart --}}
    {{!-- <a class="navbar-links"><i class="bi bi-cart2"></i></a> --}}
    
      
  </div>
</nav>