{{!-- Partial for all registration pages --}}
{{!-- Author(s): David and Emily --}}
<head>

    <link rel="stylesheet" href="/stylesheets/registration.css">
</head>


<div class="wrapper">
    {{#if error}}
        <div class="error-message">
            <h5 class="message">
                {{message}}
            </h5>
        </div>
    {{/if}}
    
    <div id="star-requirement"> 
            All fields marked with a <b>*</b> are <b>REQUIRED</b> to be filled out
    </div>
    <br>

    <form class="form-register" method="POST" action="{{action}}"
    enctype="application/x-www-form-urlencoded">
        <h2 class="form-title">{{title}}</h2>
        <br>
        <h6>First Name <label class="required-asterisk">*</label></h3>
        <input type="text" class="form-control" name="firstname"  required="" autofocus="" maxlength="40"/>
        <h6>Last Name <label class="required-asterisk">*</label></h3>
        <input type="text" class="form-control" name="lastname"  required="" autofocus="" maxlength="40"/>
        <h6>Email <label class="required-asterisk">*</label>
        {{#if sfsuUser}}
        <label style="font-size: 12px; color: red;">Must be an mail.sfsu.edu or sfsu.edu email</label>
        {{/if}}
        </h6>
        <input type="text" class="form-control" name="email"  required="" autofocus="" maxlength="40" />
        <h6>Password <label class="required-asterisk">*</label><label style="font-size: 12px; color: red;">Must be at least 8 characters, 1 uppercase, 1 number and 1 of the following special characters: @ $ ! % * # ? &.</label></h6>
        <input type="password" class="form-control" name="password" required="" maxlength="90"/>      
        <h6>Confirm Password <label class="required-asterisk">*</label></h6>
        <input type="password" class="form-control" name="confirmpassword" required="" maxlength="90"/> 


        {{#if sfsuUser}}
            <label  style="display: flex; align-items: center;">
                <input type="checkbox" name="terms-checkbox" required=""/>
                &ensp;Pay with Gatorcard
            </label><br>
        {{/if}}

        {{#if driver}}
            <label style="display: flex; align-items: center;">
                <input type="checkbox" name="driver-license-checkbox" required=""/>
                &ensp;Confirm you have a valid driver's license
            </label><br>

            <label style="display: flex; align-items: center;">
                <input type="checkbox" name="payment-checkbox" required=""/>
                &ensp;Get Paid with Gatorcard &nbsp;
            </label> <br>
        {{/if}}
        
        
        <label  style="display: flex; align-items: center;">
            <input type="checkbox" name="terms-checkbox" required=""/>
            &ensp;By checking this you agree to the Terms and Conditions
            {{!-- &ensp;By checking this you agree to the&nbsp;<a href="1232arandomlink.com">Terms and Conditions</a> --}}
        </label><br>

        <button class="submit-button" type="submit">Submit</button>   
    </form>
    <a href ={{loginLink}} class="relocation-link">Have an account? Log in here &rarr;</a>
</div>



