{{!-- Partial that display a restuarant a restaurant owner has applied for --}}
{{!-- Author(s): Melisa and Emily --}}
<div class="restaurant">
    <image class="restaurant-image" src="/images/uploads/{{images}}"></image>
    <div class="restaurant-status">
        <h3>{{restaurant_name}}</h3>
        Description:{{description}}<br>
        <p style="font-size:20px;">Status: {{status}}</p>
    </div>
</div>