<div class="restaurant">
                <image class="restaurant-image" src="/images/uploads/dominos.jpg"></image>
                <div class="restaurant-status">
                    <h3>Olive Garden</h3>
                    Description: We are a fast food restaurant<br>
                    Status: <b>Pending</b>
                </div>
            </div>