{{!-- user's ticket for each food --}}
{{!-- Author(s): David and Emily --}}
<div class="ticket">
    <image class="ticket-image" src={{images}}></image>
    <div class="ticket-details">

                Name:  {{name}}<br>
                Price: $ {{price}} <br> 

             
 Qtn:<input type="number" id="quantity" name="quantity" value="1" min = "1" max="5">
               
    </div>
    <button class="trash-ticket">Trash</button>
</div>