<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant-pages-css/restaurantApplication.css">
  
</head>
<body>
    <div id="wrapper">
        <h1>Restaurant Application</h1>
        <br>
        <div id="restaurant-application-wrapper">
            <div id="restaurant-information">
                <form action="" method="post" enctype="multipart/form-data">
                <input id="restaurant-image" type="file" accept="image/*" name="restaurant-image" onchange="uploadImage(event)">
                <label for="restaurant-image" id="restaurant-image-alter" name="restaurant-image-alter"> Add Restaurant Image</label> <br><br>
                <label>Restaurant Name <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                <input type="text" name="restaurantName"><br><br />
                <label>Food Category <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                <select  name="category">
                    <option value="all" {{#if (categoryFunction category "all")}} selected {{/if }}>All</option>
                    <option value="italian" {{#if (categoryFunction category "italian")}} selected {{/if }}>Italian</option>
                    <option value="taiwanese" {{#if (categoryFunction category "taiwanese")}} selected {{/if }}>Taiwanese</option>
                    <option value="pizza" {{#if (categoryFunction category "pizza")}} selected {{/if }}>Pizza</option>
                    <option value="japanese" {{#if (categoryFunction category "japanese")}} selected {{/if }}>Japanese</option>
                    <option value="fast food" {{#if (categoryFunction category "fast food")}} selected {{/if }}>Fast Food</option>
                </select>
                <br><br>
                <label>Delivery time <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                <input type="text" name="deliveryTime"><br><br />
                <label>Address <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                <input type="text" name="address"><br><br />
                <label>Description <label class="required-asterisk">*</label><label class="required-message">required</label></label><br />
                <textarea name="description" class="restaurant-description"></textarea><br><br />
                <label>Menu <label class="required-asterisk">*</label><label class="required-message">required</label></label><br />
                <div id="restaurant-menu">
                    <div id="scrollbar-wrapper">
                        <div id="menu-item">
                            <input id="menu-item-image[0]" class="menu-item-images" accept="image/*" type="file" name="menu[0][image]" onchange="uploadImage(event)">
                            <label for="menu-item-image[0]" id="menu-item-image-alter" class="menu-item-alter-images" name="menu[0][image-alter]">Add Image</label>
                            <div id="menu-item-details">
                                <label>Food name <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                                <input type="text" name="menu[0][name]"><br />
                                <label>Price <label class="required-asterisk">*</label><label class="required-message">required</label></label><br>
                                <input type="text" name="menu[0][price]"><br />
                                <label>Description <label class="required-asterisk">*</label><label class="required-message">required</label></label><br />
                                <textarea name="menu[0][description]" class="menu-item-description"></textarea>
                            </div>
                            <button id="delete-menu-item" type="button" name="delete">Delete</button>
                        </div>

                        
                    </div>
                    
                </div>
                <button type="button" name="add" id="add-menu-item">Add Item</button><br>
                </form>
            </div>
        </div>
        <button id="submit-restaurant-application-button" type="submit">Submit</button>
        
    </div>
   
</body>
<script>
    //add new item to restaurant menu
    //Author(s): Melisa and Emily
   let menuItems = 1;
   document.querySelector('[name="add"]').addEventListener('click', () => {
       let div = document.createElement('div');
       div.innerHTML = `
           <div id="menu-item">
                <input id="menu-item-image[${menuItems}]" class="menu-item-images" accept="image/*" type="file" name="menu[${menuItems}][image]" onchange="uploadImage(event)">
                <label for="menu-item-image[${menuItems}]" id="menu-item-image-alter" class="menu-item-alter-images" name="menu[${menuItems}][image-alter]">Add Image</label>
                <div id="menu-item-details">
                    <label>Food name <label class="required-asterisk">*</label><label class="required-message">required</label></label></label><br>
                    <input type="text" name="menu[${menuItems}][name]""><br />
                    <label>Price <label class="required-asterisk">*</label><label class="required-message">required</label></label></label><br>
                    <input type="text" name="menu[${menuItems}][price]"><br />
                    <label>Description <label class="required-asterisk">*</label><label class="required-message">required</label></label></label><br />
                    <textarea name="menu[${menuItems}][description]" class="menu-item-description"></textarea>
                </div>
                <button id="delete-menu-item" type="button" name="delete">Delete</button>
            </div>
       `;
       document.getElementById('scrollbar-wrapper').appendChild(div);
       menuItems++;
   });

   //delete item from restaurant menu with trash button
   //Author(s): Melisa
   document.getElementById("scrollbar-wrapper").addEventListener('click', (e) => {
       if (e.target.name === 'delete') {
           e.target.parentElement.remove();
       }
   });

    //lets users add and view their menu images
    //Author(s): Emily
    function uploadImage(event){
        console.log(event.target.name);
        console.log(event.target.nextSibling);
        console.log(event.target.nextSibling.nextSibling);
        console.log(event.target.nextSibling.nextSibling.attributes["name"].value);
        var restaurantImages = document.getElementsByName(event.target.nextSibling.nextSibling.attributes["name"].value)[0];
        console.log(restaurantImages);
        restaurantImages.style.backgroundImage = "url(" + URL.createObjectURL(event.target.files[0]) + ")";
        restaurantImages.innerHTML = "";
    }

   //
</script>
