{{!-- HTML for restuarant application --}}
{{!-- Author(s): Melisa and Emily --}}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant-pages-css/restaurantApplication.css">
  
</head>

    <div id="wrapper">
        <div style="color: red; background-color: rgb(237, 183, 183); width: 30%; border-radius: 5px; height: 30px; line-height: 30px; text-align: center;"> 
            All fields marked with a <b>*</b> are <b>REQUIRED</b> to be filled out
        </div>
        <br>
        <h1>Restaurant Application</h1>
        <br>
        <div id="restaurant-application-wrapper">
            <h2>General Restaurant Information</h2>
            <hr>
            <div id="restaurant-information">
                <form action="/restaurants/restaurantApplication" method="post" enctype="multipart/form-data" id="application">
                <input id="restaurant-image" type="file" accept="image/*" name="restaurant-image" onchange="uploadImage(event)">
                <label for="restaurant-image" id="restaurant-image-alter" name="restaurant-image-alter"> Add Restaurant Image</label> <br><br>
                <label>Restaurant Name <label class="required-asterisk">*</label></label><br>
                <input type="text" name="restaurantName" maxlength="40"required><br><br />
                <label>Food Category <label class="required-asterisk">*</label></label><br>
                <select  name="category">
                    {{#each applicationCategories}}
                        <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                </select>
                <br><br>
                <label>Delivery time <label class="required-asterisk">*</label><label class="requirement-details">Enter time in minutes.</label></label><br>
                <input type="text" name="deliveryTime" required><br><br />
                <label>Address <label class="required-asterisk">*</label><label class="requirement-details">Enter address in this format: 4920 3rd St, San Francisco, CA 94124</label></label><br>
                <input type="text" name="address" style="width:300px;" required><br><br />
                <label>Description <label class="required-asterisk">*</label></label><br />
                <textarea name="description" class="restaurant-description" maxlength="300" required></textarea><br><br />
                
                <h2>Enter Individual Restaurant Items</h2>
                <hr>
                <label>Menu <label class="required-asterisk">*</label></label><br />
                <div id="restaurant-menu">
                    
                    <form action="" method="post" enctype="multipart/form-data">
                    <div id="scrollbar-wrapper">
                        <div id="menu-item">
                            <input id="menu-item-image[0]" class="menu-item-images" accept="image/*" type="file" name="menu[0][image]" onchange="uploadImage(event)">
                            <label for="menu-item-image[0]" id="menu-item-image-alter" class="menu-item-alter-images" name="menu[0][image-alter]">Add Image</label>
                            <div id="menu-item-details">
                                <label>Food name <label class="required-asterisk">*</label></label><br>
                                <input type="text" name="menu[0][name]" required><br />
                                <label>Price <label class="required-asterisk">*</label></label><br>
                                <input type="text" name="menu[0][price]" required><br />
                                <label>Description <label class="required-asterisk">*</label></label><br />
                                <textarea name="menu[0][description]" class="menu-item-description" required></textarea>
                            </div>
                            <button id="delete-menu-item" type="button" name="delete">Delete</button>
                        </div>

                        
                    </div>
                    </form>
                    
                </div>
                <button type="button" name="add" id="add-menu-item">Add Item</button><br>
                </form>
            </div>
        </div>
        <button id="submit-restaurant-application-button" type="submit" form="application">Submit</button>
        
    </div>
   

<script>
    //add new menu item to restaurant menu
    //Author(s): Melisa and Emily
   let menuItems = 1;
   document.querySelector('[name="add"]').addEventListener('click', () => {
       let div = document.createElement('div');
       div.innerHTML = `
           <div id="menu-item">
                <input id="menu-item-image[${menuItems}]" class="menu-item-images" accept="image/*" type="file" name="menu[${menuItems}][image]" onchange="uploadImage(event)">
                <label for="menu-item-image[${menuItems}]" id="menu-item-image-alter" class="menu-item-alter-images" name="menu[${menuItems}][image-alter]">Add Image</label>
                <div id="menu-item-details">
                    <label>Food name <label class="required-asterisk">*</label></label></label><br>
                    <input type="text" name="menu[${menuItems}][name]" required><br />
                    <label>Price <label class="required-asterisk">*</label></label></label><br>
                    <input type="text" name="menu[${menuItems}][price]"><br />
                    <label>Description <label class="required-asterisk">*</label></label></label><br />
                    <textarea name="menu[${menuItems}][description]" class="menu-item-description" required></textarea>
                </div>
                <button id="delete-menu-item" type="button" name="delete">Delete</button>
            </div>
       `;
       document.getElementById('scrollbar-wrapper').appendChild(div);
       menuItems++;
   });

   //delete item from restaurant menu with trash button
   //Author(s): Melisa
   document.getElementById("scrollbar-wrapper").addEventListener('click', (e) => {
       if (e.target.name === 'delete') {
           e.target.parentElement.remove();
       }
   });

    //lets users add and view their menu images
    //Author(s): Emily
    function uploadImage(event){
        console.log(event.target.name);
        console.log(event.target.nextSibling);
        console.log(event.target.nextSibling.nextSibling);
        console.log(event.target.nextSibling.nextSibling.attributes["name"].value);
        var restaurantImages = document.getElementsByName(event.target.nextSibling.nextSibling.attributes["name"].value)[0];
        console.log(restaurantImages);
        restaurantImages.style.backgroundImage = "url(" + URL.createObjectURL(event.target.files[0]) + ")";
        restaurantImages.style.backgroundSize = "contain";
        restaurantImages.style.backgroundPosition = "center center";
        restaurantImages.style.backgroundRepeat = "no-repeat";
        restaurantImages.innerHTML = "";
    }

   //
</script>
