<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
   <h1>Restaurant Application</h1>
   <form action="" method="post" enctype="multipart/form-data">
       <label>Restaurant Name:</label>
       <input type="text" name="restaurantName"><br />
       <label>Food category:</label>
       <input type="text" name="foodCategory"><br />
       <label>Delivery time:</label>
       <input type="time" name="deliveryTime"><br />
       <label>Description:</label><br />
       <textarea name="description" cols="30" rows="10"></textarea><br />
       <label>Upload Image:</label><br />
       <input type="file" name="image"><br />
       <label>Menu:</label><br />
       <div>
			<table>
			  <tr>
				<td>
					<input type="file" name="menu[0][image]"><br />
					<label>Food name:</label><br>
					<input type="text" name="menu[0][name]"><br />
					<label>Description:</label><br />
					<textarea name="menu[0][description]" cols="30" rows="10"></textarea>
				</td>
				<td>
					<button type="button" name="delete">Delete</button>
				</td>
			  </tr>
			</table>
           
       </div>
       <button type="button" name="add">Add</button><br>
       <button type="submit">Submit</button>
   </form>
</body>
<script>
   let menuItems = 1;
   document.querySelector('[name="add"]').addEventListener('click', () => {
       let div = document.createElement('div');
       div.innerHTML = `
           <input type="file" name="menu[${menuItems}][image]">
           <label>Food name:</label>
           <input type="text" name="menu[${menuItems}][name]">
           <label>Description:</label>
           <textarea name="menu[${menuItems}][description]" cols="30" rows="10"></textarea>
           <button type="button" name="delete">Delete</button>
       `;
       document.querySelector('form').appendChild(div);
       menuItems++;
   });
   document.querySelector('form').addEventListener('click', (e) => {
       if (e.target.name === 'delete') {
           e.target.parentElement.remove();
       }
   });
</script>
