<!DOCTYPE html>
<html>
  <head>
    <title>Andy</title>
    <link rel='stylesheet' href='/stylesheets/emily.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <h1></h1>
    
    <div class="wrapper">
      <div class="side-bar">
        <image src="/images/andy-photo.jpg"></image>
        <h2>Andy Almeida</h2>
        <p>
          Team Lead
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        
        <p id="side-links">
          <i class="bi bi-geo-alt"></i> San Francisco, CA <br>
          <a href="https://www.linkedin.com/in/andy-almeida-9b17a0225/"><i class="bi bi-linkedin"></i> Linked In</a><br>
          <a  href="https://github.com/pie240"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h1>About me</h1>
        <hr>
        <p>Hi I'm Andy Almeida. I'm an undergraduate student at San Francisco State Univeristy majoring in 
          Computer Science. I'm a skateboarder from Southern California. My family both originated from latin countries, with my mom coming from Argentina, and my dad coming from Peru.
          I like to play videogames, travel to different skateparks, and cook.
        </p>

        <h1>Experience</h1>
        <hr>
        <p>
          I have a bit of experience in application design and construction, mainly derived from class projects. 
          I have experience in working with a team from the many jobs and extracurriculars I have involved myself in over
          my life. From playing waterpolo, to working as a shift lead at Nekter juicer, I have worked with many different
          kinds of people in a myriad of group settings. I am eager to work with my team to build a strong product.
          I project that this will be one of the biggest projects I have taken part in, and I am excited to see the 
          overall outcome. I think I will learn a lot from this experience, and Ill have something to show for it
          by the end of this semester!
        </p>

        <h1>Contact Me</h1>
        <hr>

        <div id="contact-me">
          <a href="https://www.linkedin.com/in/andy-almeida-9b17a0225/"><i class="bi bi-linkedin"></i></a>&emsp;
          <a href="mailto:andyalmeida191@gmail.com"><i class="bi bi-envelope-at"></i></i></a>&emsp;
          <a href="mailto:aalmeida1@mail.sfsu.edu"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
        
        </p>
      </div>

    </div>
    

  </body>
</html>