<!DOCTYPE html>
<html>
  <head>
    <title>Emily</title>
    <link rel='stylesheet' href='/stylesheets/emily.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <h1></h1>
    
    <div class="wrapper">
      <div class="side-bar">
        <image src="/images/emily-photo.jpg"></image>
        <h2>Emily Huang</h2>
        <p>
          Front-End Lead
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        
        {{!-- <p>
          Front-End Lead
          <hr>
          Undergraduate Computer Science Student @SFSU<br>
        </p>
           --}}
        <p id="about-links">
          <i class="bi bi-geo-alt"></i> San Francisco, CA <br>
          <a href="https://www.linkedin.com/in/emily-huang-71109a238/"><i class="bi bi-linkedin"></i> Linked In</a><br>
          <a  href="https://github.com/emhuang3"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h1>About me</h1>
        <hr>
        <p>Hi I'm Emily Huang. I'm an undergraduate student at San Francisco State Univeristy majoring in 
          Computer Science. I'm a local San Franciscan who gets lost easily so please don't ask me for directions.
        </p>

        

        
        </p>
      </div>

    </div>
    

  </body>
</html>