<!DOCTYPE html>
<html>
  <head>
    <title>Eunice</title>
    <link rel='stylesheet' href='/stylesheets/emily.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <h1></h1>
    
    <div class="wrapper">
      <div class="side-bar">
        <image src="/images/eunice-photo.jpg"></image>
        <h2>Eunice Borres</h2>
        <p>
          Backend-End Lead
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        
        <p id="side-links">
          <a  href="https://github.com/eunmdb"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h1>About me</h1>
        <hr>
        <p>
            Hi, my name is Eunice Borres and I am currently a senior at San Francisco State University. 
            I'm fairly new to backend programming and I will try my best to get better at it while
            working on this project. Some CS experiences I have includes Java, C++, Python, HTML, CSS, Javascipt,
            PHP and MySQL.
        </p>
        

        
        </p>
      </div>

    </div>
    

  </body>
</html>