{{!-- HTML for the home page --}}
{{!-- Author(s): Emily and Eunice --}}
<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>




    <div id="cover-container">
        <div id="cover-photo-container">
            <image id="cover-photo" src="/images/cover-image.jpg"></image>
        </div>

        <div id="cover-content">
            {{!-- <h1 id="cover-quote">Nothing will beat, <br> our Gatoreats</h1> --}}
            <h1 id="cover-quote">GatorEats - Bringing<br> Food to SFSU</h1>
            <br>
            <button id="find-food-button">Find Food</button>

        </div>

        
    </div>

    {{!-- user-driver-restaurant-block css --}}
    <div id="user-driver-restaurant-block">
        <div id="user-container">
            <div id="hotpot-photo-container">
                <image id="hotpot-photo" src="/images/hotpot.png"></image>
            </div>
            <h2>Hungry?</h2>
            <p>Register and pick out your favorites from a local restaurant and order now!</p>
            <a href="/sfsuRegistration"><button>Sign up <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/food" title="food icons">Food icons created by amonrat rungreangfangsai - Flaticon</a>
            
        </div>

        <div id="driver-container">
            <div id="car-photo-container">
                <image id="car-photo" src="/images/car.png"></image>
            </div>
            <h2>Become a Driver</h2>
            <p>Know your way around SFSU? Become a driver and earn money today!</p>
            <a href="/driverRegistration"><button>Register Now <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/car" title="car icons">Car icons created by kosonicon - Flaticon</a>
        </div>

        <div id="restaurant-container">
            <div id="restaurant-photo-container">
                <image id="restaurant-photo" src="/images/restaurant.png"></image>
            </div>
            <h2>Restaurant Owners</h2>
            <p>Have a restaurant near SFSU? Register your restaurant on GatorEats today!</p>
            <a href="/restaurantOwnerRegistration"><button class="">Apply Today <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by photo3idea_studio - Flaticon</a>
        </div>
    </div>

    
{{!-- end of html --}}

