
<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script defer src="/js/frontend.js"></script>
</head>

<body> 


    {{!-- cover code: includes the quote, location select/dropdown --}}
    <div id="cover-container">
        <div id="cover-photo-container">
            <image id="cover-photo" src="/images/cover-image.jpg"></image>
        </div>

        <div id="cover-content">
            <h1 id="cover-quote">Nothing will beat, <br> our Gatoreats</h1>
            <br>
            <div id="location-container">
                <i class="bi bi-geo-alt" id="location-icon"></i>
                <div id="location-bar-wrapper">
                    <select class="building-dropdown" aria-label=".form-select-lg example">
                        <option disabled selected><i class="bi bi-building-fill"></i>Building</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    
                    <select class="room-dropdown" aria-label=".form-select-sm example">
                        <option disabled selected><i class="bi bi-123">Room</i></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                
                <a id="location-submit" href="#"> Find Food </a>
                
            </div>

            <a id="on-campus-off-campus">I'm off campus</a>
        </div>

        
    </div>

    {{!-- user-driver-restaurant-block css --}}
    <div id="user-driver-restaurant-block">
        <div id="user-container">
            <div id="hotpot-photo-container">
                <image id="hotpot-photo" src="/images/hotpot.png"></image>
            </div>
            <h2>Hungry?</h2>
            <p>Register and pick out your favorites from a local restaurant and order now!</p>
            <a href="/sfsuRegistration"><button>Sign up <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/food" title="food icons">Food icons created by amonrat rungreangfangsai - Flaticon</a>
            
        </div>

        <div id="driver-container">
            <div id="car-photo-container">
                <image id="car-photo" src="/images/car.png"></image>
            </div>
            <h2>*Vroom Vroom*</h2>
            <p>Know your way around SFSU? Become a driver and earn money today!</p>
            <a href="/driverRegistration"><button>Register Now <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/car" title="car icons">Car icons created by kosonicon - Flaticon</a>
        </div>

        <div id="restaurant-container">
            <div id="restaurant-photo-container">
                <image id="restaurant-photo" src="/images/restaurant.png"></image>
            </div>
            <h2>Owners</h2>
            <p>Have a restaurant near SFSU? Register your restaurant on GatorEats today!</p>
            <a href="restaurantRegistration"><button class="">Apply Here <i class="bi bi-caret-right-fill"></i></button></a>
            <a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by photo3idea_studio - Flaticon</a>
        </div>
    </div>


    

{{!-- end of html --}}
</body>
