<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <h1>About Team 7</h1>
    <h4>Software Engineering Class @SFSU 
      <br>Spring 2023 
      <br>Section 03 
      <br>Team 07</h4>
    <p>The team members, their roles, and their permissions on the project.</p>

    <div class = 'about-grid'>

      <image class = about-photos id='andy-photo' src = '/images/test-photo.jpg'></image>
      <header class = member-name id = 'andy-name'>Andy</header>
      <p class = about-paragraph id = 'andy-about'> The Team Lead. Manages team 07 and responsibiites.</p>
      <a href = '/andy'><button class = about-button id = 'andy-button'>Read More <i class="bi bi-caret-right-fill"></i></button></a>

      <image class = about-photos id='juandavid-photo' src = '/images/test-photo.jpg'></image>
      <header class = member-name id = 'juandavid-name'>Juan David</header>
      <p class = about-paragraph id = 'juandavid-about'> The Github Master. Has push privileges to main branch.</p>
      <a href = '/juandavid'><button class = about-button id = 'juandavid-button'>Read More <i class="bi bi-caret-right-fill"></i></button></a>

      <image class = about-photos id='emily-photo' src ='/images/emily-photo.jpg'></image>
      <header class = member-name id = 'emily-name'>Emily</header>
      <p class = about-paragraph id = 'emily-about'> The Front-End Lead. Has push privileges to develop branch.</p>
      <a href = '/emily'><button class = about-button id = 'emily-button'>Read More <i class="bi bi-caret-right-fill"></i></button></a>

      <image class = about-photos id='eunice-photo' src = '/images/test-photo.jpg'></image>
      <header class = member-name id = 'eunice-name'>Eunice</header>
      <p class = about-paragraph id = 'eunice-about'> The Back-End L    ead. Has push privileges to main and develop branch.</p>
      <a href = '/eunice'><button class = about-button id = 'eunice-button'>Read More <i class="bi bi-caret-right-fill"></i></button></a>

      <image class = about-photos id='melisa-photo' src = '/images/test-photo.jpg'></image>
      <header class = member-name id = 'melisa-name'>Melisa</header>
      <p class = about-paragraph id = 'melisa-about'> Quality Assurance/Documentation Lead. The all-rounder responsible for multiple
        tasks.</p>
      <a href = '/melisa'><button class = about-button id = 'melisa-button'>Read More <i class="bi bi-caret-right-fill"></i></button></a>


    </div>

  </body>
</html>
