body{
    /* background-color: beige; */
    padding: 0;
}

.about-image-div{
    height: 500px;
}

.about-image{
    height: 100%;
    object-fit: cover;
}

.about-text{
    /* background-color: rgba(0, 0, 0, .7); */  
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, .3));
    left:0%;
    height: 500px;
    width:400px;
    bottom: 0;
    z-index: 1;
    text-align: left;
}

.slide-button{
    align-items: flex-end;
    margin-bottom: 30px;
}


#about-paragraph{
    text-align: center;
    margin: 0px 30px 0px 30px;
}

#about-div{
    height:autopx;
    margin: 0 5% 30px 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-div-item{
    width:250px;
    background-color: white;
    transition: margin 0.2s ease-in-out;
}

.about-div-item:hover{
    margin: -7px 0 7px 0;
    box-shadow: 10px 10px  3px rgba(0, 0, 0, .2);
}

.about-photos{
    width: 250px;
    height: 250px;
}

.about-description{
    
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    text-align: center;
    align-items: center;
    color:black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.about-description p{

    font-size: 13px;
}

a{
    text-decoration: none;
    color:black;
}

.about-text-mobile{
    display:none !important;
}

@media(max-width:760px){
    .about-text-mobile{
        width: 100%;
        height: auto;
        display: block !important;
        position: relative;
        z-index: 1;
        background-color: black;
        opacity: .7;
        color: white;
    }
}