img{
    height: 200px;
    width:200px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color:black;
}
p{
    font-size: medium;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.side-bar, .main-content{
    border: solid 1px rgb(211, 211, 211);
    border-radius: 10px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin: 5px;
}

.main-content{
    width: 55%;
}
   
.side-bar{
    width: 18%;
}

#about-links{
    text-align: left;
    line-height: 2em;
}