body{
    /* background-image: url("/images/cover-image.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
}

/* cover code: includes the quote, location select/dropdown css */

#cover-photo-container{
    max-width: 100%;
}

#cover-photo{
    width: 100%;
}

#cover-content{
    position: absolute;
    top: 300px;
    width: auto;
    left: 6%;
}

#cover-quote{
    font-weight: bold;
    /* font-size: 50px; */
    font-size: 3.5vw;
    color:white;
}

/* #cover-container{
    margin: 225px 0 200px 10%;
} */

/* location change css beginning */
#location-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 37%; */
}

.building-dropdown, .room-dropdown, #on-campus-input{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.building-dropdown{
    min-width:250px;
}

.room-dropdown{
    width:150px;
}

#on-campus-input{
    text-align: left;
    width: 405px;
    border-radius: 10px;
    border: none;
}

#location-bar-wrapper{
    display: flex;
    flex-wrap: wrap;
}


#location-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    height: 50px;
    color: white;
    margin-left: 10px;
    line-height: 50px;
    text-align: center;
    min-width: 100px;
    
}

#location-submit:hover{
    background-color:rgb(255, 197, 51);
    border-color:rgb(255, 197, 51);
}

#on-campus-off-campus{
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

#on-campus-off-campus:hover{
    color: rgb(255, 197, 51);
}

#location-icon{
    color: red;
    font-size:35px;
}


/* location change css end*/



/* user-driver-restaurant-block css */

#user-driver-restaurant-block{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 243, 255);
    flex-wrap: wrap;
}

#user-container, #driver-container, #restaurant-container{
    margin: 30px 0 30px 0;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-container > a, #driver-container > a, #restaurant-container > a{
    color: black;
    font-size: 10px;

}

#user-container > a > button, #driver-container > a > button, #restaurant-container > a > button{
    background-color: rgb(255, 136, 136);
    border:none;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}


#hotpot-photo-container, #car-photo-container, #restaurant-photo-container{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 192, 192), rgb(253, 219, 133));
    height: 250px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
}

#hotpot-photo, #car-photo, #restaurant-photo{
    width: 200px;
}



@media(max-width:940px){
    #cover-photo-container{
        overflow: hidden;
    }

    #cover-photo{
        width: 940px;
        height: 400px;
        text-align: right;
    }
    #cover-content{
        top: 230px;
    }


   #location-container{
    margin-top: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
   }

    #cover-quote{
        font-size: x-large;
        margin: 50px;

    }


}