body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.message {
    background-color: #f1c40f;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.restaurant {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.restaurant-container {
    max-height: 300px; /* Set the maximum height for the container */
    overflow: auto; /* Enable scrolling when necessary */
}


.status {
    font-weight: bold;
}

.register-btn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn:hover {
    background-color: #2980b9;
}