{{!-- Emily's About Page HTML--}}
{{!-- Author(s): Emily --}}
<!DOCTYPE html>
<html>
  <head>
    <title>Emily</title>
    <link rel='stylesheet' href='/stylesheets/about-me.css' />
  </head>
  <body>
    <h3></h3>
    
    <div class="wrapper">
      <div class="side-bar">
        <image class="about-photo" src="/images/emily-photo.jpg"></image>
        <h4>Emily Huang</h4>
        <p>
          Front-End Lead
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        
        <p id="side-links">
          <i class="bi bi-geo-alt"></i> San Francisco, CA <br>
          <a href="https://www.linkedin.com/in/emily-huang-71109a238/"><i class="bi bi-linkedin"></i> Linked In</a><br>
          <a  href="https://github.com/emhuang3"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h3>About me</h3>
        <hr>
        <p>Hi I'm Emily Huang. I'm an undergraduate student at San Francisco State Univeristy majoring in 
          Computer Science. I'm a local San Franciscan who gets lost easily so please don't ask me for directions.
        </p>

        <h3>Experience</h3>
        <hr>
        <p>I don't have much experience with design beyond class projects, but I hope to do well as a front 
          end lead. I have experience in leadership as a former vice president of Girls Who Code in Highschool
          which I hope will benefit me in this role. I also had experience volunteering from my Red Cross club 
          in Highschool so I hope my willingness to help won't stop my teammates from reaching out even if our
          roles require different things.
        </p>

        <h3>Contact Me</h3>
        <hr>

        <div id="contact-me">
          <a href="https://www.linkedin.com/in/emily-huang-71109a238/"><i class="bi bi-linkedin"></i></a>&emsp;
          <a href="mailto:emilyhuangx2012@gmail.com"><i class="bi bi-envelope-at"></i></i></a>&emsp;
          <a href="mailto:ehuang10@mail.sfsu.edu"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
        
   
      </div>

    </div>
    

  </body>
</html>