{{!-- Eunice's About Page HTML--}}
{{!-- Author(s): Eunice--}}

  <head>
    <title>Eunice</title>
    <link rel='stylesheet' href='/stylesheets/about-me.css' />
  </head>

    <h3></h3>
    
    <div class="wrapper">
      <div class="side-bar">
        <image class="about-photo" src="/images/eunice-photo.jpg"></image>
        <h4>Eunice Borres</h4>
        <p>
          Backend-End Lead
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        
        <p id="side-links">
          <i class="bi bi-geo-alt"></i> San Francisco, CA <br>
          <a href="https://www.linkedin.com/in/eunice-borres-297990159"><i class="bi bi-linkedin"></i> Linked In</a><br>
          <a  href="https://github.com/eunmdb"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h3>About me</h3>
        <hr>
        <p>
            Hi, my name is Eunice Borres and I am currently a senior at San Francisco State University. 
            I'm fairly new to backend programming and I will try my best to get better at it while
            working on this project. 
        </p>
        <h3>Experience</h3>
        <hr>
        <p>Some CS experiences I have includes Java, C++, Python, HTML, CSS, Javascipt, PHP and MySQL.
        </p>
        <h3>Contact Me</h3>
        <hr>

        <div id="contact-me">
          <a href="https://www.linkedin.com/in/eunice-borres-297990159"><i class="bi bi-linkedin"></i></a>&emsp;
          <a href="mailto:euborres@gmail.com"><i class="bi bi-envelope-at"></i></i></a>&emsp;
          <a href="mailto:eborres@sfsu.edu"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
        
  
      </div>

    </div>
    
