{{!-- David's About Page HTML--}}
{{!-- Author(s): David --}}

  <head>
    <title>Juan Liang</title>
    <link rel='stylesheet' href='/stylesheets/about-me.css' />
  </head>

    <h3></h3>
    
    <div class="wrapper">
      <div class="side-bar">
        <image class="about-photo" src="/images/juan-photo.jpg"></image>
        <h4>Juan David Liang</h4>
        <p>
          Git Hub Master
          <hr>
          Sernior undergraduate Computer Science Student at San Francisco State University
        </p>
        
        <p id="side-links">
          <i class="bi bi-geo-alt"></i> San Francisco, CA <br>
          <a href="https://www.linkedin.com/in/juan-david-guan-yu-liang-liao-ab13a721a/"><i class="bi bi-linkedin"></i> Linked In</a><br>
          <a  href="https://github.com/JDLiang100"><i class="bi bi-github"></i> Github</a>
        </p>
        
      </div>

      <div class="main-content">
        <h3>About me</h3>
        <hr>
        <p>Hi I am Juan David Liang. I am a senior at San Francisco State University, this is probably my last semester. 
          I enjoy playing video games and badminton
        </p>

        <h3>Experience</h3>
        <hr>
        <p>
          I did a summer project with a Microsoft mentor where my team and I made a fullstack web app that allows users to look for roomates.
          Other than that, I don't really have much Experience.
        </p>

        <h3>Contact Me</h3>
        <hr>

        <div id="contact-me">
          <a href="https://www.linkedin.com/in/juan-david-guan-yu-liang-liao-ab13a721a/"><i class="bi bi-linkedin"></i></a>&emsp;
          <a href="mailto:juandavidliang20@gmail.com"><i class="bi bi-envelope-at"></i></i></a>&emsp;
          <a href="mailto:jliangliao@sfsu.edu"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
        
   
      </div>

    </div>
    

