{{!-- Melisa's About Page HTML--}}
{{!-- Author(s): Melisa --}}
<!DOCTYPE html>
<html>
  <head>
    <title>Melisa</title>
    <link rel='stylesheet' href='/stylesheets/about-me.css' />
  </head>
  <body>
    <h3></h3>
    <div class = "wrapper">
      <div class = "side-bar">
        <image class="about-photo" src="images/melisa-photo.jpg"></image>
        <h4>Melisa Sever</h4>
        <p> Quality Assurance/Documentations
          <hr>
          Undergraduate Computer Science Student at San Francisco State University
        </p>
        </div>

         <div class="main-content">
        <h3>About me</h3>
        <hr>
        <p>Hello I'm Melisa Sever. I'm an undergraduate student at San Francisco State Univeristy majoring in 
          Computer Science. This semester is my last semester. I will be graduating.
        </p>

         <h3>Experience</h3>
        <hr>
        <p>I have never had much experience with design beyond class projects,but I hope to do well in quality assurance.
          This is my first time being quality assurance. I was part of the De Anza Women In Computer Science club, 
          which I hope will benefit me in learning about computer science. I also had experience volunteering at Mountain View Key Club in Highschool, 
          so I hope my willingness to help won't stop my teammates from reaching out even if our roles require different things.
        </p>
      
       <h3>Contact Me</h3>
        <hr>

        <div id="contact-me">
          <a href="https://www.linkedin.com/in/melisa-sever-5b69b3202/"><i class="bi bi-linkedin"></i></a>&emsp;
          <a href="mailto:melisasever2000@gmail.com"><i class="bi bi-envelope-at"></i></i></a>&emsp;
          <a href="mailto:bsever@sfsu.edu"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
      </div>
    </div>
    
    
  </body>
</html>