/* CSS for restaurant menu / user cart */
/* Author(s): David */
.center {
	margin: auto;
	text-align: center;
	width: 50%;
  }
.rest-name {
	margin:30px 0 30px 0;
	display: flex;
	flex-direction: column;
	position:relative;
	/* left: 200px;
	top: 30px; */
}
.box {
	width: 50%;
	position: relative;
	/* left: 50px; */
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
  }
.wrapper2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
  }
.menu-box{
	border: 1px solid rgba(0, 0, 0, 0.1);
}
H3 { 
	top:10px;
	text-align: center;
}
.button{
	width: 80%;
	height: 40px;
	border: none;
	background:  #4b6c97;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	color: #202020;
	position:relative;
}
.checkOut-button{
	display: inline-block;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: #4b6c97;
	border: none;
	border-radius: 15px;
}
.cart{
	width: 350px;
	padding: 15px 40px 45px;
	margin: 0 auto; 
	border: 1px solid rgba(0, 0, 0, 0.1);
	/* position:fixed; */
	left: 60%;
	max-height: 45%;
	
}
.cart-scroll{
	max-height: 60%;
	overflow-y: auto;
}
.cart-container {
	display: flex;
	align-items: center;
	width: 220px;
	max-width: 220px; 
	margin: 0 auto; 
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}
.vl {
	height: 50px;
	border-left: 6px solid rgb(0, 0, 0);
  }
  @media(max-width: 730px){
	.cart{
		max-height: 55%;
	}
	.wrapper2 {
		grid-template-columns: repeat(1, 1fr);
	  }
	.wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
  }
