/* CSS for restaurant application */
/* Author(s): Emily */
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

#restaurant-application-wrapper{
    background-color: white;
    width: 750px;
    padding: 30px;
}

.menu-item-images{
    display: none;
}

.menu-item-alter-images{
    width: 250px;
    height: 250px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    line-height: 250px;
}

#menu-item{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: white;
    width: 100%;
}

#menu-item-details{
    height: 250px;
    padding: 10px 20px 10px 20px;
}

#delete-menu-item{
    width: 100px;
    height: 250px;
    font-size: 20px;
    background-color: red;
    border:none;
    color: white;
}

#restaurant-menu{
    background-color: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 15px;
    height: 600px;
}

#scrollbar-wrapper{
    height: 100%;
    overflow-y: auto;
}

.menu-item-input{
    height: 30px;

}

#add-menu-item{
    height: 40px;
    width: 100px;
    /* font-size: 20px; */
    border:none;
    border-radius: 10px;
    background-color: rgb(33, 164, 52);
    color:white;
    margin: 20px 0 0px 0;
}

#submit-restaurant-application-button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border:none;
    border-radius: 10px;
    background-color: orange;
    color:white;
    margin: 20px 0 20px 0;
}

#restaurant-image{
    display: none;
}

#restaurant-image-alter{
    width: 300px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    line-height: 300px;
    text-align: center;
}

label{
    font-weight: 500;
}

.restaurant-description{
    width: 350px;
    height: 150px;
}

.menu-item-description{
    width: 300px;
    height: 90px;
}

.required-asterisk, .required-message{
	color: red;
}

.required-message{
	display: none;
}

.required-asterisk:hover + .required-message{
	display:inline-block;
}

@media(max-width: 500px){
    #restaurant-application-wrapper{
        width: 90%;
    }

    .restaurant-description{
        width: 300px;
        height: 150px;
    }

    #menu-item{
        display: table;

    }

    .menu-item-alter-images{
        width: 100%;
        height: 250px;
        background-color: rgb(245, 245, 245);
        text-align: center;
        line-height: 250px;
    }

    .menu-item-description{
        width: 210px;
        height: 90px;
    }

    #menu-item-details{
        height: 250px;
        /* padding: 10px 20px 10px 20px; */
    }

    
    #delete-menu-item{
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: red;
        border:none;
        color: white;
    }
}

@media screen and (min-width: 501px) and (max-width: 761px){
    #restaurant-application-wrapper{
        width: 90%;
    }

    .restaurant-description{
        width: 300px;
        height: 150px;
    }

    #menu-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 300px;

    }

    .menu-item-alter-images{
        width: 100%;
        height: 250px;
        background-color: rgb(245, 245, 245);
        text-align: center;
        line-height: 250px;
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }

    .menu-item-description{
        width: 210px;
        height: 90px;

        
        /* display: table-row-group; */
    }

    #menu-item-details{
        height: 100%;
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;

        /* padding: 10px 20px 10px 20px; */
    }

    
    #delete-menu-item{
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: red;
        border:none;
        color: white;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

    }
}