<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/myRestaurants.css">
    <title>My Restaurants</title>
</head>
 <style>
        .restaurant-container {
            height: 300px; /* Set the height to your desired value */
            overflow: auto; /* Enable scrolling when necessary */
        }
    </style>
<body>
    <div class="container">
        <h1>My Restaurants</h1>
        <br>
        <h6 class="message">Your restaurant will be registered within 24 hours of applying.</h6>
        <div id="restaurant-container">

            {{> restaurantcard}}
            {{> restaurantcard}}
            {{> restaurantcard}}
            
            
        </div>
        <button class="register-btn" onclick="location.href='/restaurantApplication'">Register Another Restaurant</button> 

    </div>
</body>
</html>