<!DOCTYPE html>
{{!-- Html for Restaurant User that displays all the approval status of their restaurant --}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/restaurant-pages-css/myRestaurants.css">
    <title>My Restaurants</title>
</head>
<body>
    <div class="container">
        <h1>My Restaurants</h1>
        <br>
        <p class="message">Your restaurant will be registered within 24 hours of applying.</p>
        <div id="restaurant-container">

            {{> restaurantcard}}
            {{> restaurantcard}}
            {{> restaurantcard}}
            
            
        </div>
        <button class="register-btn" onclick="location.href='/restaurantApplication'">Register Another Restaurant</button> 

    </div>
</body>
</html>