{{!-- HTMl that displays a restaurant's menu and user cart --}}
{{!-- Author(s): David --}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sfsu-user-pages-css/restaurant-menu-cart.css">
</head>
<body>
    <div class = "center">
         <div class="rest-name">
        <h1>Hot Pot Palace</h1>
        </div>
        <div class="cart"> 
            <h3>Cart</h3>
            <hr>
            <div class ="cart-container">
                <image class="cart-photo" src="/images/hotpot.png" width="50" height="50"></image>
                <h6>Hot Pot</h6>
                <h6>Qtn:<input type="number" id="quantity" name="quantity" value="1" min = "1" max="5"></h6>
                <h6>$25</h6>
            </div>
            <br>
            <div class ="cart-container">
                <image class="cart-photo" src="/images/hotpot.png" width="50" height="50"></image>
                <h6>Hot Pot</h6>
                <h6>Qtn:<input type="number" id="quantity" name="quantity" value="1" min = "1" max="5"></h6>
                <h6>$25</h6>
            </div>
            <br>
            <div class ="cart-container">
                <image class="cart-photo" src="/images/hotpot.png" width="50" height="50"></image>
                <h6>Hot Pot</h6>
                <h6>Qtn:<input type="number" id="quantity" name="quantity" value="1" min = "1" max="5"></h6>
                <h6>$25</h6>
            </div>
            <br>
            <div class ="cart-container">
                <image class="cart-photo" src="/images/hotpot.png" width="50" height="50"></image>
                <h6>Hot Pot</h6>
                <h6>Qtn:<input type="number" id="quantity" name="quantity" value="1" min = "1" max="5"></h6>
                <h6>$25</h6>
            </div>
            <br>
            <hr>
            <h4>Total: $50</h4>
            <a  href ="/checkOut" class="checkOut-button">Check Out</a>
        </div>
        
        <div class="box">
            <di class="wrapper">
                <div class = "menu-box">
                    <image src="/images/uploads/tastypot.jpg" width="300" height="300"></image>
                    <hr>
                    <h3>Hot Pot</h3>
                    <hr>
                    <p>Description: Hot pot is a flavorful broth traditionally served inside
                     a large metal pot. The broth is brought to a boil and left simmering for the duration of the meal.</p>
                    <hr>
                    <h5>$25</h5>
                    <button class="button">add to cart</button>
                </div>
                <div class = "menu-box">
                    <image src="/images/hotpot.png" width="300" height="300"></image>
                    <hr>
                    <h3>Hot Pot</h3>
                    <hr>
                    <p>Description: Hot pot is a flavorful broth traditionally served inside
                     a large metal pot. The broth is brought to a boil and left simmering for the duration of the meal.</p>
                    <hr>
                    <h5>$25</h5>
                    <button class="button">add to cart</button>
                </div>
                <div class = "menu-box">
                    <image src="/images/hotpot.png" width="300" height="300"></image>
                    <hr>
                    <h3>Hot Pot</h3>
                    <hr>
                    <p>Description: Hot pot is a flavorful broth traditionally served inside
                     a large metal pot. The broth is brought to a boil and left simmering for the duration of the meal.</p>
                    <hr>
                    <h5>$25</h5>
                    <button class="button">add to cart</button>
                </div>
                <div class = "menu-box">
                    <image src="/images/hotpot.png" width="300" height="300"></image>
                    <hr>
                    <h3>Hot Pot</h3>
                    <hr>
                    <p>Description: Hot pot is a flavorful broth traditionally served inside
                     a large metal pot. The broth is brought to a boil and left simmering for the duration of the meal.</p>
                    <hr>
                    <h5>$25</h5>
                    <button class="button">add to cart</button>
                </div>
            </div>
        </div>

    </div>
     
</body>
