body{
    background-color: white;
}

#order-detail-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 30px 0;
}

#map{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: calc(100% - 700px);
    height: 400px;
    border-radius: 15px;
}

#order-restaurant-details{
    width: 500px;
    text-align: left;
    font-size: 20px;
}

#order-items-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    width: calc(100% - 900px);
    height: 400px;
    padding: 20px 0 20px 0;
    /* overflow-y: hidden; */
}

#scrollbar-wrapper{
    width: calc(100% - 20px);
    overflow-y: auto;
}

.order{
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin: 5px;
    background-color: white;
}

.order-image{
    width: 100px;
    height: 100px;
}

.order-details{
    padding: 5px;
}

#take-order-button{
    color:white;
    background-color: orange;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

#take-order-button:hover{
    background-color: rgb(33, 164, 52);
}